<div class="Profile">
    <div class="Profile-Page">
        {{#if_eq user.username currentUser.username}}
            <div>
                <div class="Welcome-Text">
                    <h1 class="Username">Welcome {{user.username}} 🥳</h1>
                </div>
            </div>
            <div class="Post-Container">
                {{#each user.posts}}
                    <div class="Post">
                        <div class="PostHeader"><a>{{this.title}}</a></div>
                        <p class="Summary" target="_blank">{{this.summary}}</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div class="Welcome-Text">
                <h1 class="Username">t/{{user.username}}</h1>
                {{!-- <form class="Form-Content" action="" method="post">
                    <button type="submit" class="Submit-Button">Follow</button>
                </form> --}}
            </div>
        {{/if_eq}}
    </div>
</div>